
<section id="About">
 
	<h1 class="about-title">ABOUT</h1>
    <p class="about-description">The hole in the wall has been a dear part of our lives for almost two decades. 
        Beginning in a three-sibling-effort’s kitchen in 2006, our mission has always been to foster beautiful 
        flavors amongst the community. After we could no longer fit the abundance of people looking to join our 
        community dinners in our own house, we began the work for launching a restaurant in 2015. After many years 
        of workshopping and fighting tooth and nail for the Integrity of our mission to reflect into a restaurant, 
        we were able to open after the pandemic in Spring of 2024.  We believe that food is best when shared and are 
        committed to fostering a safe, comforting space for all to gather and indulge. It is imperative to us that 
        we use our space to benefit the community in every way, so we are available for hosting events at the number 
        below. Give us a call!.</p>
</section>

<style>

.about-title {
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}
</style>
