
<h2>Can I get a Potato...?</h2>
<h3>Slutty</h3>
    <p>- garlic rosemary butter, cheddar cheese, bacon bits, scallions, sour cream, and hot sauce</p>

<h3 class="potato">Foolish</h3>
    <p>- mac and cheese, gravy, caramelized onions, fried onions</p>
            <img src="tato" alt="potato">


<style>
    .potato {
        font-color: var(darkgreen
        );
</style>
