
<section id="Contact">

	<h1 class="about-title">CONTACT</h1>
    <p class="about-description">We are available for non profit events, catered parties, or whatever you had in mind! (Please understand that all events must be booked at least 2 months in advance.)
Let’s chat!
516-669-9585
</p>
</section>

<style>

.about-title {
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}
</style>
