

<div class="image-layer-container" >
	<img src="/src/assets/images/soup.jpeg" alt="Layer 1" class="layer layer1" />
	<div class="layer layer2 orange-rect"></div>
	<img src="/src/assets/images/whitehole.png" alt="Layer 3" class="layer layer3" />
</div>

<style>
.image-layer-container {
	position: relative;
	width: 100%;
	max-width: 2000vw;
	height: 500px;
	overflow: hidden;
	margin-bottom: 30px;
}
.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	pointer-events: none;
	object-fit: contain;
}
.layer1 {
	z-index: 1;
	opacity: 1;
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	object-fit: cover;
}
.layer2 {
	z-index: 2;
	
	
}
.orange-rect {
	background: #ca6d3a;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	left: 0;

	position: absolute;
}
.layer3 {
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, -50%);
}
</style>
