---
const { text } = Astro.props;
---

<div class="flatbreadsection">
  <h2>Flatbreads </h2>
  <p> 
The Forager- brick oven flatbread with gruyere, mozz, caramelized onions, mushrooms, candied walnuts topped with truffle parm and blackberry balsamic (veg)
  </p>

  <p>
    The Farmer- brick oven flatbread, romano cheese, charred carrot and zucchini ribbons, hot honey butter drizzle, arugula and lemon zest (veg)
  </p>

  <p>
    The Artisan- brick oven flatbread, goat cheese, prosciutto, peaches, fig jam, wildflower honey, wine crusted toscano shavings, cracked black pepper
  </p>

  <p>
  The Adventurer- brick oven flatbread, calabrian chili red sauce, smoked mozzarella, prosciutto, italian sausage crumble, pepperoni, olive tapenade (lemon zest)

  </p>
  <p>
  The Herbalist- brick oven flatbread, vegan rosemary crema, charred pear slices, basil, crispy chickpea topping(v)
  </p>
</div>

<style>
  .sample-component {
    border: 2px solid var(--color-accent);
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    max-width: 400px;
  }
</style>
