---
const { text } = Astro.props;
---

<div class="flatbreadsection">
  <h2>Flatbreads </h2>
  <p> 
The Heart Cup- classic beef stew

The Harvest Cup- minestrone(v)

The Forest Cup- mushroom barley/rosemary

The Drunken Cup- loaded beer cheese potato soup
  </p>

</div>

<style>
  .sample-component {
    border: 2px solid var(--color-accent);
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    max-width: 400px;
  }
</style>
